<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <!-- Product identity assigned by Partner Center. -->
  <Identity
    Name="biosprite.OptiClaw"
    Publisher="CN=790A30D8-3075-404F-BB7C-0520B5DE1710"
    Version="1.1.0.0" />

  <mp:PhoneIdentity PhoneProductId="e0ce5c22-dd3d-4ae6-b1f0-a755c647ef4f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>OptiClaw</DisplayName>
    <PublisherDisplayName>biosprite</PublisherDisplayName>
    <Description>Configure OptiScaler and Intel XeSS for Windows games.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26200.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Applications>
    <Application
      Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="OptiClaw"
        Description="Configure OptiScaler and Intel XeSS for Windows games."
        BackgroundColor="#101012"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          ShortName="OptiClaw" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#101012" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
